.mat-snack-bar-container.pizza-party {
  color: hotpink;
}
.mat-snack-bar-container .flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.ic-success path {
  fill: #ff0000;
}
.msg-alert {
  width: 392px;
  height: 20px;
  font-family: KrungthaiFast;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 35px;
}
