<div [formGroup]="form">
  <label [attr.for]="control.key">{{ control.label }} <span *ngIf="control.required"  class="required">*</span></label>
  <div [ngSwitch]="control.controlType">
    <ng-container *ngSwitchCase="'textbox'">
      <mat-form-field appearance="outline">
        <input
          matInput
          [id]="control.key"
          [formControlName]="control.key"
          [type]="control.type"
        />
        <mat-error *ngIf="!isValid">กรุณาระบุ</mat-error>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchCase="'dropdown'">
      <mat-form-field appearance="outline">
        <mat-select [formControlName]="control.key">
          <mat-option *ngFor="let item of control.options" [value]="item.key">{{
            item.value
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="!isValid">กรุณาระบุ</mat-error>
      </mat-form-field>
    </ng-container>
  </div>
</div>
